<div class="d-flex flex-column text-center p-5 content-cta">
    <h2 class="member content-cta-{{visibility}}">Cet article est réservé aux membres</h2>
    <h2 class="paid content-cta-{{visibility}}">Cet article est réservé aux membres premium</h2>

    {{#if @member}}
        <div class="mt-4 w-50 mx-auto">
            {{> become-premium}}
            <a href="/premium" class="small mt-3">Plus d'informations</a>
        </div>
    {{else}}
        <div class="mt-2">
            <button class="btn btn-primary btn-cta-subscribe">S'inscrire gratuitement</button>
        </div>
        <div class="mt-4 small">
            Déjà inscrit ? <a href="#" class="btn-cta-login">Connexion</a>
        </div>
    {{/if}}
</div>
