<nav class="d-flex flex-column flex-sm-row flex-wrap justify-content-start justify-content-sm-around h-100 {{class}}">
    {{#foreach navigation}}
        <a
            href="{{url absolute="true"}}"
            class="d-flex pl-2 pl-sm-0 justify-content-sm-center align-items-center nav-item nav-{{slug}}{{#if current}} nav-current{{/if}}"
        >
            {{label}}
        </a>
    {{/foreach}}
</nav>
