<div class="row primary-author {{class}}">
    <div class="col-4 col-sm-2">
        <img class="image" src="{{primary_author.profile_image}}" alt="{{primary_author.name}}" />
    </div>
    <div class="col-8 col-sm-10 d-flex flex-column justify-content-center align-items-end align-items-lg-start">
        <span class="name">{{primary_author.name}}</span>
        <time class="date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </div>
</div>
