{{!< default}}

{{> header}}

<div class="container-fluid">
    <section class="error-container p-2" style="background: center / cover no-repeat url('{{@site.cover_image}}');">
        <h1 class="text-center error-code">{{statusCode}}</h1>
        <h5 class="text-center font-italic">Un problème est survenu</h5>
        <div class="d-flex justify-content-center align-items-center">
            {{{block "custom"}}}
        </div>
    </section>
    <div class="container">
        {{#get "posts" limit="4" order="created_at desc" include="authors,tags" as |posts pages|}}
            {{> sleeve}}
        {{/get}}
    </div>
</div>

