{{!< default}}

{{> header}}

<div class="container background-black-light container-home">
    <div class="home-describe py-3 py-md-5">
        <div class="h-100 row">
            <div class="col-lg-6 col-md-8 col-sm-12 order-1 order-md-0 mt-2 mt-md-0">
                <div class="d-flex flex-column h-100">
                    {{#page}}
                        <h1>{{title}}</h1>
                        <p>{{content}}</p>
                    {{/page}}
                    <div class="mt-auto">
                        <h3>Newsletter</h3>
                        {{> subscribe-form}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 order-md-1 order-0">
                <div class="h-100 w-100 picture" style="background-image: url('{{@site.cover_image}}')"></div>
            </div>
        </div>
    </div>

    {{> promote with_divider=1}}

    <div class="d-flex flex-column home-posts js-load-posts">
        {{#foreach posts}}
            <div class="{{post_class}} py-2 py-md-3 py-lg-5 home-post js-load-post
            {{#if @member.paid}}member-paid{{/if}} access-{{visibility}}">
                <div class="row">
                    <div class="col-12 col-lg-1 justify-content-center my-3 my-lg-0">
                        <div class="d-flex justify-content-center align-items-center indicator">
                            <div class="line"></div>
                            <div class="icon"></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <a
                                href="{{url}}"
                                class="d-flex h-100 w-100 picture"
                                style="background: center / cover no-repeat url('{{img_url feature_image size="s"}}');"
                        ></a>
                    </div>
                    <div class="col-12 col-lg-7 d-flex flex-column pt-2 pb-2">
                        <h2><a href="{{url}}">{{title}}</a></h2>
                        <div class="author">{{primary_author.name}}</div>
                        <div class="date"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></div>
                        <div class="tags mt-5">{{#primary_tag}}<a href="{{url}}" class="tag">{{name}}</a>{{/primary_tag}}</div>
                        <p class="mb-4 mt-2">{{excerpt}}</p>
                    </div>
                </div>
            </div>
        {{/foreach}}
    </div>

    {{pagination}}

</div>
