body, html {
  background-color: $black-light;
  font-size: 19px;
  font-weight: $fontWeightRegular;
  font-family: "Inter", Garamond, serif;
  color: $white-light;
}

h1 {
  font-size: 2em;
  color: $primary;
  font-weight: $fontWeightMedium;
}

h2 {
  color: $secondary;
  font-size: 1.5em;
  font-weight: $fontWeightMedium;
}

h3,h4,h5 {
  color: $primary;
  font-size: 1.5em;
  font-weight: $fontWeightMedium;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $secondary;
    text-decoration: none;
  }
}

.background-black {background-color: $black;}
.background-black-light {background-color: $black-light;}
.background-white {background-color: $white}
.background-white-light {background-color: $white-light;}

.btn-arrow {
  display: inline-block;

  &:before, &:after {
    @extend %fa-icon;
    @extend .fas;
    padding-top: 3px;
  }

  &.arrow-left {
    &:before {
      content: fa-content($fa-var-chevron-left);
      margin-right: 1em;
    }
  }

  &.arrow-right {
    &:after {
      content: fa-content($fa-var-chevron-right);
      margin-left: 1em;
    }
  }
}

.btn-close {
  font-size: 3em;
  color: $white;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.reading-time {
  display: inline;
  background-color: $secondary;
  color: $black-light;
  border-radius: $border-radius;
  padding: 0.3em 0.5em;
  box-shadow: 1px 1px 5px $black;
}

.primary-author {
  color: $gray;
  font-size: 0.8em;
  white-space: nowrap;
  font-weight: $fontWeightMedium;

  .name {
    font-size: 0.9em;
    text-transform: uppercase;
  }

  .date {
    font-size: 0.8em;
  }

  .image {
    height: 70px;
    width: auto;
    border-radius: 50%;
    border: 1px solid $gray;
  }
}

.kg-width-wide,
.kg-width-full {
  color: $black;
}

.white-block {
  overflow: hidden;
  background-color: $white;
  border-radius: $borderRadius;
}
