.custom-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  height: 5px;

  .progress-bar-background {
    width: 100%;
    height: 100%;
    background-color: $primary-dark;

    .progress-bar-value {
      height: 100%;
      background-color: $primary;
    }
  }
}