.error-container {
  min-height: 20rem;
  margin-left: -15px;
  margin-right: -15px;

  h1 {
    font-size: 3em;
  }

  .custom-404 {

    .icon {
      svg {
        height: 10rem;
      }

      .credits {
        font-size: 0.8em;
        font-style: italic;
      }
    }
    .text {
      p {
        font-size: 0.8em;
      }
    }
  }
}
