footer {
  background-color: $black;
  color: $gray-800;
  width: 100%;
  font-weight: 400;
  min-height: 15rem;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    .top {
      flex-direction: column !important;

      .footer-newsletter {
        order: 1;
        margin: 0 0 1em 0 !important;
      }

      .links {
        order: 2;
      }
    }
  }

  .bottom {
    border-top: 1px solid $gray;
  }

  .copyright {
    font-size: 0.8em;
  }

  .social {
    font-size: 2em;

    a {
      color: $gray-800;

      &:hover {
        color: $primary;
      }
    }
  }
}
