header {
  min-height: 110px;
  height: 30vh;
  background-color: $black-ultra-light;
  position: relative;
  z-index: 99;

  h4 {
    color: $primary;
    font-weight: $fontWeightExtraLight;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 9px;
  }

  h5 {
    color: $secondary;
    font-weight: $fontWeightLight;
    font-size: 16px;
  }

  .link-img {
    max-width: 40px;

    img {
      height: 40px;
      width: auto;
    }
  }

  .cta-member {
    .btn {
      font-size: 14px;
      font-weight: $fontWeightLight;
    }
  }

  .menu-hamburger {
    height: 30px;
    width: 30px;

    svg {
      path {
        fill: $white;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .link-img {
      max-width: 40px;

      img {
        height: 40px;
      }
    }

    h4 {
      font-size: 30px;
      letter-spacing: 9px;
    }

    h5 {
      font-size: 16px;
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: 90px;
    height: 20vh;
    max-height: 100px;

    .link-img {
      max-width: 70px;

      img {
        height: 70px;
      }
    }

    h4 {
      font-size: 25px;
      letter-spacing: 11px;
    }

    h5 {
      font-size: 15px;
    }

    .cta-member {
      .btn {
        font-size: 16px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    h4 {
      letter-spacing: 9px;
    }

    h5 {
      font-size: 14px;
    }
  }
}

.menu-mobile {
  transition: bottom 250ms ease-in-out, height 250ms ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100vh;
  background-color: $black-light;
  z-index: 89;
  height: 70vh;

  &.active {
    bottom: 0;
  }

  @include media-breakpoint-up(sm) {
    display: none;
  }
}
