nav {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: $fontWeightExtraLight;

  a.nav-item {
    color: $white-light;
    opacity: 0.70;
    transition: all 1s;

    &:hover {
      text-decoration: underline;
      color: $primary;
    }
  }
}

nav.pagination {
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.8em;

  a {
    flex-basis: 20%;
    flex-shrink: 1;
    flex-grow: 1;

    @include media-breakpoint-down(xs) {
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  span.page-number {
    flex-grow: 5;
    flex-shrink: 2;
    text-align: center;
    color: $gray-light;

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}
