.post-container {
  font-family: "Inter", serif;

  .describe {
    min-height: 28rem;

    h1 {
      font-size: 2em;
      font-weight: 500;
    }

    .primary-author {
      font-weight: 300;
    }

    .picture {
      min-height: 400px;
      height: 70vh;

      @include media-breakpoint-down(md) {
        background-position: center !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        min-height: 300px;
        width: 100%;
      }
    }

    .excerpt {
      color: $gray-400;

      p {
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.4em;
      }

      .reading-time {
        font-size: 0.8em;
        font-weight: 600;
      }
    }
  }

  .content {
    text-align: justify;
    font-size: 1.2em;
    font-family: "Inter", serif;
    font-weight: 300;
    color: $gray-400;
    line-height: 1.3em;

    h2 {
      margin-top: 2em;
      margin-bottom: 1em;
      color: $primary;
      font-size: 1.5em;
      font-weight: 600;
    }

    h3 {
      margin-top: 1em;
      color: $secondary;
      font-size: 1.3em;
      font-weight: 600;
    }

    strong {
      font-weight: 600;
    }

    em {
      font-weight: 200;
    }

    blockquote {
      background-color: $black-ultra-light;
      border-radius: $border-radius;
      border: 1px solid $gray-800;
      padding: 1em;
      font-style: italic;
      font-weight: 200;
    }

    hr {
      background-color: $gray-800;
      height: 1px;
      margin: 5rem 10%;
    }

    ul {
      list-style-type: "—";
      line-height: 2em;

      li {
        padding-left: 1rem;
      }
    }

    .kg-image-card {
      text-align: center;
      max-width: 100%;
      img {
        max-width: 80%;
        height: auto;
      }
    }

    .kg-bookmark-card {
      .kg-bookmark-container {
        background-color: $black-ultra-light;
        box-shadow: 1px 1px 5px $black;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        width: 80%;

        .kg-bookmark-thumbnail {
          max-height: 200px;
          max-width: 50%;
          text-align: right;
          img {
            height: 100%;
            width: auto;
          }
        }

        .kg-bookmark-content {
          flex-grow: 1;
          display: flex;
          flex-direction: column;

          .kg-bookmark-title {
            font-size: 1.5em;
            font-weight: 500;
          }

          .kg-bookmark-description {
            margin-top: 1rem;
            color: $white;
            font-size: 0.8em;
            font-weight: 200;
            line-height: 1.2em;
          }

          .kg-bookmark-metadata {
            margin-top: auto;

            .kg-bookmark-icon {
              float: left;
              margin-right: 1rem;
            }

            span {
              display: block;
            }

            .kg-bookmark-icon {
              max-height: 50px;
              width: auto;
              max-width: 50px;
              border-radius: $border-radius;
              margin-bottom: 0.5em;
            }

            .kg-bookmark-author, .kg-bookmark-publisher {
              font-size: 0.8em;
            }
          }
        }
      }
    }

    .kg-gallery-card {
      max-width: 100%;

      .kg-gallery-container {
        .kg-gallery-row {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          max-width: 100%;
          max-height: 400px;

          .kg-gallery-image {
            height: auto;
            max-height: 100%;
            max-width: 50%;
            padding: 0.5em;

            img {
              height: auto;
              max-height: 100%;
              width: auto;
              max-width: 100%;
            }
          }
        }
      }
    }

    .kg-embed-card {
      max-width: 100%;

      iframe {
        width: 100%;
      }
    }
  }

  .content-cta {
    background-color: $black;

    h2 {
      margin: 0;

      &.member.content-cta-paid {
        display: none;
      }

      &.paid.content-cta-members {
        display: none;
      }
    }
  }
}
