.promote {
  background-color: $black;

  .image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    min-height: 300px;
  }

  .text {
    .title {
      text-transform: uppercase;
      font-size: 1.3em;
      font-weight: 200;
      color: $secondary;
    }

    .announce {
      color: $primary;
      font-size: 2em;
      font-weight: 600;
      margin-top: auto;
      text-align: center;
    }

    p {
      font-weight: 300;
      font-size: 0.8em;
      margin-bottom: auto;
      text-align: center;
    }

    small {
      color: $gray-500;
      font-weight: 300;
    }
  }
}
